:host {
  display: block;
  padding: 12px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-field {
 margin-top: 8px;
}

.action-buttons{
  display: flex;
  padding-right: 24px;
}


